<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>留言板</title>
        <link rel="stylesheet" href="css/message.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div id="viewport">
            <audio id='id-audio-player' src="music/AK - Discovery.mp3"></audio>
            <div class="button play"></div>
            <div class="button pause"></div>
            <div id="inputbox">
                <!-- <input id="input" type="text" name="" value=""> -->
                <textarea id="input" name="name" placeholder="请在此留言……（200字以内）" rows="5" cols="200"></textarea>
                <div id="button"></div>
                <div id="portrait"></div>
            </div>
            <div id="messages">
            </div>
            <div id="pages">
                <div id="pagebox">
                </div>
            </div>
        </div>
        <script src="js/message.js"></script>
    </body>
</html>
