<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>留言板</title>
        <link rel="stylesheet" href="css/message.css">
        <link rel="stylesheet" href="css/message_mobile.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div id="viewport">
            <img id="phonebanner" src="images/messagmobile_bg.jpg" alt="">
            <!--<div id="music">-->
                <audio id='id-audio-player' src="music/AK - Discovery.mp3"></audio>
                <div class="button play"></div>
                <div class="button pause"></div>
            <!--</div>-->
            <div id="inputbox">
                <!-- <input id="input" type="text" name="" value=""> -->
                <textarea id="input" name="name" placeholder="请在此留言……（200字以内）" rows="5" cols="200" wrap="hard"></textarea>
                <img id="button" src="images/message_button.jpg" alt="">
                <img id="portrait" src="images/message_portrait.png" alt="">
                <!-- <div id="button"></div>
                <div id="portrait"></div> -->
            </div>
            <div id="box">
                <div id="messages">
                </div>
                <div id="pages">
                    <div id="pagebox">
                    </div>
                </div>
            </div>
        </div>
        <div id="debug">

        </div>
        <script src="js/message.js"></script>
    </body>
</html>
