@media all and (orientation : portrait) {
    body {
        margin: 0;
        background: #000000;
    }

    #viewport {
        overflow: auto;
        width: 100%;
    }

    #phonebg {
        overflow: auto;
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 0;
    }

    #button {
        position: relative;
        /* left: 680px; */
        top: 1150px;
        width: 500px;
        z-index: 1;
        height: 200px;
        margin: 0 auto;
    }

    #rect {
        position: absolute;
        top: 80px;
        left: 100px;
        width: 372px;
        height: 28px;
        background-image: url(../images/start_button.jpg);
        cursor: pointer;
    }

    #star {
        position: absolute;
        top: 12px;
        left: 52px;
        width: 133px;
        height: 149px;
        background-image: url(../images/start_star.png);
    }

    #portrait {
        position: absolute;
        top: -50px;
        left: 333px;
        width: 151px;
        height: 137px;
        background-image: url(../images/start_portrait.png);
    }
}