body {
    margin: 0;
    background-color: #0e0e14;
}

#viewport {
    overflow: auto;
    width: 1920px;
    height: 1080px;
    background-image: url(../images/start_bg.jpg);
}

#button {
    position: absolute;
    left: 680px;
    top: 700px;
    width: 500px;
    height: 200px;
}

#rect {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 372px;
    height: 28px;
    background-image: url(../images/start_button.jpg);
    cursor: pointer;
}

#star {
    position: absolute;
    top: 12px;
    left: 52px;
    width: 133px;
    height: 149px;
    background-image: url(../images/start_star.png);
}

#portrait {
    position: absolute;
    top: -50px;
    left: 333px;
    width: 151px;
    height: 137px;
    background-image: url(../images/start_portrait.png);
}
