@media all and (orientation : portrait) {
    body {
        margin: 0;
        background: #fb9739;
    }

    #viewport {
        overflow: auto;
        width: 100%;
    }

    #phonebg {
        overflow: auto;
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 0;
    }

    #button {
        position: relative;
        /* left: 680px; */
        top: 500px;
        width: 400px;
        z-index: 1;
        height: 200px;
        margin: 0 auto;
    }

    #rect {
        position: absolute;
        top: 30px;
        left: 18px;
        width: 372px;
        height: 28px;
        transform: scale(0.8, 0.8);
        background-image: url(../images/start_button.jpg);
        cursor: pointer;
    }

    #star {
        position: absolute;
        top: -35px;
        width: 151px;
        height: 137px;
        transform: scale(0.8, 0.8);
        background-image: url(../images/start_star.png);
    }

    #portrait {
        position: absolute;
        top: -67px;
        left: 243px;
        width: 151px;
        height: 137px;
        transform: scale(0.5, 0.5);
        background-image: url(../images/start_portrait.png);
    }
}

@media all and (max-width: 1024px) {
    #button {
        top: 1150px;
    }
}

@media all and (max-width: 768px) {
    #button {
        top: 880px;
    }
}

@media all and (max-width: 414px) {
    #button {
        top: 500px;
    }
}

@media all and (max-width: 375px) {
    #button {
        left: -10px;
        transform: scale(0.9, 0.9);
        top: 450px;
    }
}

@media all and (max-width: 320px) {
    #button {
        left: -40px;
        transform: scale(0.8, 0.8);
        top: 380px;
    }
}
