@media all and (orientation : portrait) {
    body {
        margin: 0;
        background: #1d1a37;
    }

    #viewport {
        overflow: auto;
        width: 100%;
    }

    #phonebg {
        overflow: auto;
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 0;
    }

    #button {
        position: relative;
        left: 80px;
        top: 210px;
        width: 400px;
        z-index: 1;
        height: 200px;
        margin: 0 auto;
    }

    @keyframes buttonAnimation {
        25% {
            top: 40px;
        }
        75% {
            top: 20px;
        }
        100% {
            top: 30px;
        }
    }

    #rect {
        position: absolute;
        top: 30px;
        left: 18px;
        width: 230px;
        height: 246px;
        transform: scale(0.35, 0.35);
        background-image: url(../images/startmobile_button.png);
        cursor: pointer;
        animation: buttonAnimation linear 2s infinite;
        animation-fill-mode: forwards;
    }

    #star {
        display: none;
    }

    #portrait {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    #button {
        top: 810px;
    }
    #rect {
        transform: scale(0.7, 0.7);
    }
}

@media all and (max-width: 768px) {
    #button {
        top: 580px;
    }
    #rect {
        transform: scale(0.55, 0.55);
    }
}

@media all and (max-width: 414px) {
    #button {
        top: 210px;
    }
    #rect {
        transform: scale(0.35, 0.35);
    }
}

/*@media all and (max-width: 375px) {*/
    /*#button {*/
        /*left: -10px;*/
        /*transform: scale(0.9, 0.9);*/
        /*top: 450px;*/
    /*}*/
/*}*/

@media all and (max-width: 320px) {
    #button {
        left: 40px;
        transform: scale(0.85, 0.85);
        top: 170px;
}
